@import "../../../root.scss";
table{

    .td-first{
        border-right:  2px solid rgb(212, 212, 212);
    }
    .calendar{
        display: flex;
        justify-content: space-evenly;
        
    }
}
th{
    background-color: rgb(236, 236, 236);  
    color: #646464;
    padding: 0.4em;
}
td{
    padding: 1em;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(212, 212, 212);  
    &:first-child{
        border-right:  2px solid rgb(212, 212, 212);
    }
}