h2{
    margin: 0.5em 0;
    font-size: 1.3em;
    color: #414141;
}
.span{
    display: block;
    margin: 0.2em 0;
}
.nv2{
    background-color: #90b5d83b;
}
.nv3{
    background-color: #94bce27c;
}
.table-content{
    max-height: 70vh;
    overflow-x: auto;

    #table-main{
        width: 100%;
        thead{
            top: 0;
            position: sticky;  
            
        }
        tbody{
            margin-bottom: 1em;
        }
        th{
            font-size: 0.8em;
            background-color: #ebebeb;
            color: #585858;
            border-bottom: 2px solid #8a8a8ab6;
            text-align: left;
        }

        tr:hover{
            background-color: #41414115;
        }
        td{
            font-size: 0.8em;
            padding: 0 0.5em;
            background-color: #ffffff36;
            border-bottom: 2px solid #4141418a;
        }
        // índice de parada de "por produto" e "por ferramenta"
        .th-fer-prod{
            padding-top: 1.5em;
        }
        .td-posto{
            background-color: #619cd436;
            border-right: 2px solid #a0a0a046;
            color: #0b305a;
            font-weight: 500;
        }
        .td-sub-total, .td-total{
            color: #242424;
            font-weight: 600;
        }
        .td-total{
            background-color: #00000017;
            font-weight: 600;
            
        }
    }
}

.span-nv2{
    background-color: #00000021;

}
.span-nv3{
    background-color: #00000021;

}
.export-header{
    border-bottom: 2px solid #414141b0;
    padding: 1em;
    p{
        font-weight: 500;
    }
}
.container-totais{
    background-color: #1d6bc4;
    padding: 1em;

    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    height: 120px;
    h3{
        width: 100%;
        color: #fff;
    }
    p{
        color: #fff;
        font-weight: 500;
    }
}

#totais-totais{
    background-color: #0f53a1;
}
.total-td{
    padding: 0.5em;
    box-sizing: border-box;
    background-color: #07226ef1;
    color: #ffffff;
}