.container{
    width: 100%;
    margin: 1em auto;
    background-color: #fff;
    box-shadow: 2px 2px 5px #a1a1a18f;
    box-sizing: border-box;
    padding: 1em;

    text-align: left;

    .radio{
        display:flex;
        flex-flow: row wrap;
    }
}

.radio{
    display:flex;
    flex-flow: row wrap;
}