.container-page{
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    max-height: 100vh;
    overflow-y: auto;

    .title-relatorio{
        font-size: 1.6em;
        color: rgb(25, 35, 73);
        text-align: left;
        width: auto;
        margin-bottom: 1em;
    }
    .export-content{
        margin-top: 1em;
        padding: 0.5em;
        background-color: #fff;

    }
}
h2{
    font-size: 1.1em;
    text-align: center;
}
.modal-preloader{
    background-color: rgba(0, 0, 0, 0.74);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}