*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;

    padding: 1em;
    max-height: 90vh;
    overflow-y: auto;
    a{

        padding: 1em;
        text-decoration: none;
        color: rgb(39, 39, 39);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5em;
        svg{
            width: 1.8em;
        }
        h4{
            font-weight: 400;
            max-width: 80%;
        }
        opacity: 0.8;
        &:hover{
            opacity: 1;
            border-radius: 0.5em;
            background-color: #0000001a;
            color: #415fcb;

        }
    }

}
